.logofoot{
    margin: 0px 20px 0px 650px;
}
.social-media1 img {
   
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    border-radius:0rem;
   
    
  }
  .social-media1{
      margin:-55px 10px 20px 550px;
  }
  .leftp{
      margin: 30px 50px 30px 100px;
      padding: 10px 1000px 10px 10px;
  }
  .part4h1{
      margin: -140px 0px 200px 850px;
  }