h1{
  margin:50px  0px 0px 45px;
}
.social-media img {
  height: 30px;
  width: 30px;
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  border-radius:1rem;
}

.social-media{

  padding: 25px 50px;
}
.logo1 img{
  height: 200px;
  width: 200px;
  margin: -90px 0px 40px 600px;
  
  
}
/* Styles for wrapping the search box */



.main {
  width: 50%;
  margin: 50px auto;
}




.has-search .form-control {
  padding-left: 2.375rem;
  width: 200px;
  margin: -200px 0px 90px 1200px;
  border-radius: 90px ;
  
}

.has-search .form-control-feedback {
  position:absolute;
  margin: -2px 1000px 10px 1350px;
  display: inline-block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  
  color: #aaa;
}